<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="reportPortal"
      type="ReportPortal.XUnitReporter.ReportPortalSection, ReportPortal.XUnitReporter, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <reportPortal enabled="true">
    <server url="https://rp.epam.com/api/v1/" project="default_project">
      <authentication username="default" password="45c00b4f-a893-4365-89be-8c1b89e30ffb"/>
    </server>
    <launch name="XUnit Demo Launch" debugMode="true" tags="t1,t2"/>
  </reportPortal>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>    
    </assemblyBinding>
  </runtime>
</configuration>